<div class="actions-container">
  <button
    mat-fab
    class="add-button"
    aria-label="Add"
    (click)="addCourse()"
  >
    +
  </button>
</div>

<!-- Anzeige der Kurse -->
<ng-container *ngIf="dataSource$ | async as courses">
  <mat-card *ngFor="let card of courses">
    <mat-card-header>
      <mat-card-title>Kurs {{ card.id }}</mat-card-title>
      <mat-card-subtitle>{{ card.name }}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="'https://cdn-icons-png.flaticon.com/512/5351/5351078.png'" alt="{{ card.name }}" />

    <mat-card-content>
      <p>{{ card.description }}</p>
    </mat-card-content>

    <mat-card-actions>
      <!-- Details Button -->
      <button mat-button [routerLink]="['../', card.id, 'details']">
        Details
      </button>

      <!-- Bearbeiten Button -->
      <button mat-button [routerLink]="[{ outlets: { dialog: ['dialog'] } }]">
        Bearbeiten
      </button>

      <!-- Löschen Button -->
      <button mat-button (click)="deleteCourse(card.id)">
        Löschen
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
