<div class="container">
  <h1>Bewertungsschema bearbeiten</h1>

  <!-- Tabelle für das Schema -->
  <table>
    <thead>
    <tr>
      <th>Topic</th>
      <th>%</th>
      <th>Aktionen</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let schema of bewertungsschema; let i = index">
      <td>
        <mat-form-field>
          <input matInput [(ngModel)]="schema.topic" placeholder="Topic #{{ i + 1 }}">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="schema.percentage" min="0" max="100">
        </mat-form-field>
      </td>
      <td>
        <button mat-button (click)="deleteBewertungsschema(schema.id)" style="background: red; color: white;" >
          X
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Aktionen -->
  <button mat-raised-button color="primary" (click)="addRow()">Hinzufügen</button>
  <button mat-raised-button color="accent" (click)="save()">Speichern</button>

  <!-- Fehlermeldungen -->
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
</div>
