.home-container {
  height: 100vh; /* Vollbildhöhe */
  width: 100%;
  background-color: #727983; /* Hellgrauer Hintergrund */
  display: flex;
  flex-direction: column; /* Elemente vertikal anordnen */
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: #efeeee; /* Dunkelgrauer Text */
  text-align: center; /* Zentriere Text */
  position: relative; /* Damit das Logo über dem Bild positioniert werden kann */
}

h1 {
  font-size: 3rem;
  margin-bottom: 50px;
  color: #dad3d3; /* Dunkelgraue Schrift */
}

.background-image {
  width: 40%; /* Bild nimmt 40% der Breite ein */
  height: auto; /* Automatische Höhe basierend auf der Breite */
  object-fit: cover; /* Passt das Bild an die verfügbare Fläche an */
  border: 10px solid #fff; /* Weißer Rahmen um das Bild */
  border-radius: 15px; /* Abrundung der Ecken des Rahmens */
  margin-bottom: 20px; /* Abstand unter dem Bild */
}

.logo-image {
  position: absolute;
  top: 130px; /* Position des Logos von oben */
  z-index: 10; /* Stellt sicher, dass das Logo über dem Hintergrundbild bleibt */
  width: 600px; /* Breite des Logos */
  height: auto;
}

.button-container {
  display: flex;
  gap: 30px; /* Abstand zwischen den Buttons */
  margin-top: 20px; /* Abstand über den Buttons */
}

.action-button {
  padding: 15px 30px;
  font-size: 1.2rem;
  color: #0b0606; /* Weiße Schrift */
  background-color: #50d5bc; /* Grün als Hauptfarbe */
  border: none;
  border-radius: 500px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); /* Leichter Schatten */

  &:hover {
    background-color: #32cdb0; /* Dunkleres Grün bei Hover */
    transform: scale(1.05); /* Vergrößert die Buttons leicht */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Verstärkter Schatten */
  }
}
