.breadcrumbs {
  margin-bottom: 24px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #4a4a4a;

  a {
    margin: 10px;
    padding: 10px;
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease, text-shadow 0.3s ease;

    &:hover {
      color: #0056b3;
      text-shadow: 0 0 5px rgba(0, 86, 179, 0.3);
      text-decoration: underline;
    }
  }

  span {
    color: #0d1308;
    font-style: italic;
  }

  &::before {
    content: '';
    display: block;
    height: 3px;
    background: linear-gradient(90deg, #bdd8d8, #d7ddf1);
    border-radius: 2px;
    margin-bottom: 12px;
  }
}
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.course-header {
  text-align: center;
  margin-bottom: 20px;

  h1 {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 10px;
  }

  span {
    color: #2980b9;
    font-weight: bold;
  }
}

.course-info {
  margin-bottom: 30px;

  h2 {
    font-size: 1.5rem;
    color: #2c3e50;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #7f8c8d;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #2980b9;
    color: white;
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #ecf0f1;
  }
}

mat-toolbar {
  margin-top: px; /* Abstand von oben */
  background-color: #25a6c6; /* Helles Grau als Hintergrundfarbe */
  color: #333; /* Dunkle Textfarbe für guten Kontrast */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Dezenter Schatten für mehr Tiefe */
  font-weight: bold;
  font-size: 16px;
  padding: 0 16px; /* Angenehmes Padding für Innenabstand */
  border-bottom: 1px solid #e0e0e0; /* Dünner Rand für Struktur */
}


.course-detail {
  padding: 20px;

  button {
    margin-bottom: 20px;
  }

  mat-list {
    margin-top: 20px;
  }
}

.group-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.group-buttons button {
  min-width: 150px;
  padding: 10px;
}

button.mat-raised-button {
  margin-top: 10px;
}

