<nav class="breadcrumbs">
  <a [routerLink]="['/courses/overview']">Kurse</a> &gt;
  <a [routerLink]="['/courses', courseId, 'details']">{{ courseName }}</a> &gt;
  <span>Gruppe: {{ group?.name }}</span>
</nav>

<div class="group-detail-container" *ngIf="group$ | async as group">
  <h1>Gruppe: {{ group.name }}</h1>
  <button mat-raised-button color="warn" (click)="openDeleteGroupDialog(group.name)">Gruppe löschen</button>

  <h2>Studenten in der Gruppe:</h2>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>E-Mail</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students$ | async">
      <td>{{ student.id }}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.email }}</td>
    </tr>
    </tbody>
  </table>

  <button mat-raised-button color="accent" (click)="openAddStudentDialog()">Student hinzufügen</button>

</div>



