<nav class="breadcrumbs">
  <a [routerLink]="['/courses/overview']">Kurse</a> &gt;
  <a [routerLink]="['/courses', courseId, 'details']">{{ courseName }}</a> &gt;
  <span>Gruppe: {{ (group$|async)?.name }}</span>
</nav>

<div class="group-detail-container" *ngIf="group$ | async as group">
  <h1>Gruppe: {{ group.name }}</h1>
  <button mat-raised-button color="warn" (click)="openDeleteGroupDialog(group.name)">Gruppe löschen</button>

  <h2>Studenten in der Gruppe:</h2>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>E-Mail</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students$ | async">
      <td>{{ student.id }}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.email }}</td>
    </tr>
    </tbody>
  </table>

  <button mat-raised-button color="accent" (click)="openAddStudentDialog()">Student hinzufügen</button>
  <div>
    <h2>Bewertung</h2>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Aufgabe erfüllt in Prozent</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let evaluation of evaluations">
        <td>{{ evaluation.id }}</td>
        <td>
          <input
            type="number"
            [(ngModel)]="evaluation.score"
            min="0"
            max="100"
            style="width: 50px"
          />
        </td>
      </tr>
      </tbody>
    </table>
    <button mat-button color="primary" (click)="saveEvaluations()">Bewertung Speichern</button>
  </div>

  <div class="group-overall-evaluation" *ngIf="isLecturer">
    <h2>Gesamtbewertung der Gruppe:</h2>
    <table *ngIf="overallEvaluation">
      <thead>
      <tr>
        <th>Prozentuale Bewertung</th>
        <th>Note</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td [ngStyle]="{'background-color': overallEvaluation?.gradeColor}">
          {{ overallEvaluation?.totalScore | number:'1.1-2' }}%
        </td>
        <td [ngStyle]="{'background-color': overallEvaluation?.gradeColor}">
          {{ overallEvaluation?.grade }}
        </td>
      </tr>
      </tbody>
    </table>
    <p *ngIf="!overallEvaluation">Lade Gesamtbewertung...</p>
  </div>

</div>



